@{
    ViewData["Title"] = "Custom Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
  <p>
        <strong>Request ID:</strong> <code>Error while process request</code>
    </p>

<p>
    <strong>Error Processing your request, Please try after some</strong>
</p>
<a asp-controller="Product" asp-action="Index" class="btn btn-primary">Back To List</a>